:root {
    --navGap: 1em;
    --pink: color(display-p3 1 0.474 0.776);
    --backgroundColor: #282A36;
    --white: #F8F8F2;
    --yellow: #F1FA8C;
    --green: #50FA7B;
    --blue: #8BE9FD;
    --orange: #FFB86C;
    --purple: #BD93F9;
    --h1Size: 400%;
    --addrSize: 200%;
    --labelSizes: 150%;
    --subheadingSize: 300%;
    --textSize: 150%;
    --smallTextSize: 150%;
    --extraSmallTextSize: 125%;
    --padding: 1.5em;
}

[data-theme="light"] {
    --backgroundColor: #fdf6e3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#themeToggle {
    width: 100px;
    height: 100px;
    margin: auto
}

#themeIcon {
    width: 70px;
    height: 70px;
}

p {
    font-size: var(--textSize);
    color: var(--pink);
}


body, #themeToggle {
    background-color: var(--backgroundColor);
}

h1 {
    font-size: var(--h1Size);
    color: var(--pink, #FF79C6);
    flex-grow: 1;
}

a {
    margin: 0;
    padding-right: var(--padding);
    font-size: var(--textSize);
    text-decoration: none;
    color: var(--orange);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

embed {
    display: flex;
    align-items: center;
}
